* label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a:hover {
  cursor: pointer;
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

.dark-blue {
  color: #273F6C;
}

.bg-blue {
  background-color: #273F6C;
}

.orange {
  color: #D8602C;
}

.bg-orange {
  background-color: #D8602C;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #273F6C, #D8602C);
  background: -o-linear-gradient(right, #273F6C, #D8602C);
  background: -moz-linear-gradient(right, #273F6C, #D8602C);
  background: linear-gradient(to right, #273F6C, #D8602C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(90deg, #4861B1 0%, #D8602C 100%);
}

.nunito__head--xs {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.nunito__head--small {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.34rem;
}

.nunito__head--reg {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.nunito__xxs {
  font-family: "Nunito", sans-serif;
  font-size: 0.625rem;
}

.nunito__xs {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
}

.nunito__small {
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
}

.nunito__reg {
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
}

.nunito__lg {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.poppins__xxs {
  font-family: "Poppins", sans-serif;
  font-size: 0.6875rem;
}

.poppins__xs {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
}

.poppins__small {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

.poppins__reg {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}

.poppins__lg {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.poppins__xl {
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
}

.poppins__xxl {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 7.4375rem;
  background: linear-gradient(90deg, #4861B0 0%, #D8602D 100%);
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
}
footer .footer__info {
  text-align: center;
  font-weight: bold;
  width: 100%;
  color: white;
  margin: 1rem 0 1rem 0;
}
footer .footer__images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  max-width: 25rem;
  margin: 0 0 1rem 0;
}

.index-header .nav-desktop {
  display: none;
}
.index-header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 16rem;
  background-image: url("../Images/Header.png");
  background-size: cover;
  background-position: center;
}
.index-header nav img {
  position: absolute;
  width: 10rem;
  height: auto;
  top: 5%;
  left: 5%;
}
.index-header nav .nav__hamburger {
  position: absolute;
  top: 20%;
  left: 5%;
}
.index-header nav .nav__hamburger div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.index-header nav .nav__para {
  margin: 3rem 0 0 0;
}
.index-header nav .nav__para p:nth-of-type(2),
.index-header nav .nav__para p:nth-of-type(3) {
  margin: 0 0 0 0;
}

.index-main {
  flex: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0;
}
.index-main .hello-friends {
  margin: 2rem auto 2rem auto;
  padding: 0 0.5rem 0 0.5rem;
  max-width: 39.892875rem;
}
.index-main .hello-friends p:nth-of-type(3) {
  margin-bottom: 0;
}
.index-main .hello-friends__grad-box {
  width: 95%;
  max-width: 29.375rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 0 auto 0 auto;
  border-radius: 0.6875rem;
  font-size: 0.79rem;
}
.index-main .hello-friends__grad-box p {
  line-height: 1.2rem;
}
.index-main .background-orange {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0px 1.25rem 0px 1.25rem;
  background: rgba(216, 96, 44, 0.35);
  box-shadow: inset 0px 1.125rem 0px 0px white;
  border-radius: 0.0625rem;
}
.index-main .background-orange-small {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.34rem;
  max-width: 37.9643125rem;
  margin: 0 auto 0 auto;
  padding: 0px 1.25rem 0px 1.25rem;
  background: rgba(216, 96, 44, 0.35);
  box-shadow: inset 0px 1.125rem 0px 0px white;
  border-radius: 0.0625rem;
}
.index-main .castle-info {
  max-width: 34.142875rem;
  margin: 2rem auto 2rem auto;
  padding: 0 0.5rem 0 0.5rem;
}
.index-main .castle-img-list-mobile {
  margin: 2rem 0 2rem 0;
  padding: 0 0.5rem 0 0.5rem;
}
.index-main .castle-img-list-mobile .castle__img {
  margin: 0 0 2rem 0;
}
.index-main .castle-img-list-mobile .castle__img img {
  width: 15rem;
  height: auto;
}
.index-main .castle-img-list-desktop {
  display: none;
}
.index-main .proprietary-bp-desktop {
  display: none;
}
.index-main .proprietary-bp-mobile {
  padding: 0 0.5rem 0 0.5rem;
}
.index-main .proprietary-bp-mobile p {
  margin-bottom: 0;
}
.index-main .light-blue-box-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  padding: 0 0.5rem 0 0.5rem;
}
.index-main .light-blue-box-container .light-blue-box__row {
  margin: 0 0 0rem 0;
}
.index-main .light-blue-box-container .light-blue-box__row--item {
  width: 100%;
  padding-bottom: 0.625rem;
  margin: 0 auto 0.5rem auto;
  background: rgba(2, 99, 255, 0.15);
  box-shadow: inset 0px 0.9375rem 0px 0px white;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  max-width: 27.2143125rem;
}
.index-main .pb-dev-process {
  padding: 0 0.5rem 0 0.5rem;
}
.index-main .pb-dev-process p:nth-of-type(1) {
  margin-bottom: 0.2rem;
}
.index-main .pb-dev-process p:nth-of-type(5) {
  margin-bottom: 0;
}
.index-main .pb-dev-process .pb-dev-process__map {
  padding: 2rem 0.5rem 1rem 0.5rem;
  margin: 2rem 0 2rem 0;
}
.index-main .map-sec .map-sec__img {
  margin: 0 0 1rem 0;
}
.index-main .map-sec .map-sec__img img {
  width: 9rem;
  padding: 1rem 0 1rem 0;
  border-bottom: solid white 0.3rem;
}
.index-main .map-sec .map-sec__list {
  max-width: 17.9643125rem;
  margin: 0 auto 0 auto;
}
.index-main .frame-5 {
  padding: 0 0.5rem 0 0.5rem;
}
.index-main .frame-5 .frame-5__boxes-desktop {
  display: none;
}
.index-main .frame-5 .frame-5__boxes-mobile {
  margin: 2rem 0 2rem 0;
}
.index-main .frame-5 .frame-5__boxes--row {
  display: flex;
  justify-content: center;
}
.index-main .frame-5 .frame-5__boxes--row div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: auto;
  padding: 2rem 0 2rem 0;
  border-radius: 0.9375rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  margin: 0.1rem;
}
.index-main .frame-5 .frame-5__boxes--row:nth-of-type(2) div {
  width: 9rem;
  height: auto;
}
.index-main .frame-5 .frame-5__boxes--row:nth-of-type(3) div {
  width: 12rem;
  height: auto;
}
.index-main .official-price {
  padding: 0 0.5rem 0 0.5rem;
}
.index-main .official-price .price-blue {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #273F6C;
}
.index-main .official-price .price-orange {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #D8602C;
}
.index-main .get-started {
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.index-main .get-started .get-started-btn {
  width: 21rem;
  height: 4.0625rem;
  background-color: #D8602C;
  border: solid #D8602C 1px;
  border-radius: 2.90625rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

@media (min-width: 48rem) {
  .index-header .nav-mobile {
    display: none;
  }
  .index-header .nav-desktop {
    display: flex;
  }
  .index-header .nav-desktop .buy-now-button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    color: #D8602D;
    font-weight: bold;
    border: solid white 1px;
    border-radius: 0.6rem;
  }
  .index-header nav {
    text-align: center;
    height: 20rem;
  }
  .index-header nav img {
    width: 13rem;
    top: 10%;
  }
  .index-header nav a {
    margin: 0 0rem 0 1.5rem;
  }
  .index-header nav .nav-links {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  .index-main .hello-friends {
    margin: 2rem auto 2rem auto;
    padding: 0 0.5rem 0 0.5rem;
    max-width: 55rem;
  }
  .index-main .hello-friends p {
    font-size: 1.125rem;
  }
  .index-main .hello-friends__grad-box {
    font-size: 1rem;
    max-width: 37rem;
  }
  .index-main .castle-info {
    max-width: 48rem;
  }
  .index-main .castle-info p {
    font-size: 1.125rem;
  }
  .index-main .castle-info h1 {
    font-size: 1.5rem;
  }
  .index-main .br-mobile {
    display: none;
  }
  .index-main .castle-img-list-mobile {
    display: none;
  }
  .index-main .castle-img-list-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 2rem auto;
    max-width: 56.6875rem;
  }
  .index-main .castle__img {
    width: 40%;
  }
  .index-main .castle__img img {
    width: 13rem;
    height: auto;
  }
  .index-main .castle__list {
    width: 40%;
    text-align: justify;
    margin: 0 0 0 10%;
    font-size: 1.125rem;
  }
  .index-main .proprietary-bp-mobile {
    display: none;
  }
  .index-main .proprietary-bp-desktop {
    display: block;
  }
  .index-main .light-blue-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
  }
  .index-main .light-blue-box-container .light-blue-box__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 57.3214375rem;
  }
  .index-main .light-blue-box-container .light-blue-box__row:last-of-type {
    margin: 3rem 0 0 0;
  }
  .index-main .light-blue-box-container .light-blue-box__row--item {
    width: 50%;
    margin: 0 2rem 0 2rem;
    max-width: 35rem;
    font-size: 1rem;
  }
  .index-main .pb-dev-process p {
    font-size: 1.125rem;
  }
  .index-main .pb-dev-process p:nth-of-type(1) {
    margin-bottom: 1rem;
  }
  .index-main .map-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
    max-width: 49.464375rem;
  }
  .index-main .map-sec .map-sec__img {
    width: 40%;
    height: 100%;
    margin: 0 1rem 0 0;
    border-right: solid white 0.3rem;
  }
  .index-main .map-sec .map-sec__img img {
    width: 11rem;
    padding: 1rem 0 1rem 0;
    border-bottom: 0;
  }
  .index-main .map-sec .map-sec__list {
    text-align: left;
    width: 44%;
    margin: 0;
    max-width: 25rem;
  }
  .index-main .map-sec .map-sec__list p {
    font-size: 1.125rem;
  }
  .index-main .map-sec .map-sec__list p:last-of-type {
    margin-bottom: 0;
  }
  .index-main .frame-5 .frame-5__boxes-mobile {
    display: none;
  }
  .index-main .frame-5 p {
    font-size: 1.125rem;
  }
  .index-main .frame-5 h1 {
    font-size: 1.5rem;
  }
  .index-main .frame-5 .frame-5__boxes-desktop {
    display: block;
    margin: 2rem 0 2rem 0;
  }
  .index-main .frame-5 .frame-5__boxes--row {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
  }
  .index-main .frame-5 .frame-5__boxes--row div {
    width: 13rem;
    height: 10rem;
    margin: 0 0.5rem;
    font-size: 1rem;
  }
  .index-main .frame-5 .frame-5__boxes--row:nth-of-type(2) {
    margin-bottom: 0;
  }
  .index-main .frame-5 .frame-5__boxes--row:nth-of-type(2) div {
    width: 13rem;
    height: 10rem;
  }
  .index-main .frame-5 .frame-5__boxes--row:nth-of-type(3) div {
    width: 12rem;
    height: auto;
  }
  .index-main .official-price p {
    font-size: 1.125rem;
  }
  .index-main .official-price h1 {
    font-size: 1.5rem;
  }
  .index-main .get-started p {
    font-size: 1.125rem;
  }
  .index-main .get-started h1 {
    font-size: 1.5rem;
  }
}
.check-out-header {
  padding: 1rem 0rem 1rem 1rem;
}
.check-out-header img {
  width: 10rem;
  height: auto;
}

.check-out-main {
  flex: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  position: relative;
  padding: 0rem 0 0rem 0;
}
.check-out-main div {
  display: flex;
  justify-content: center;
}
.check-out-main .cart {
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1px auto;
  grid-template-areas: " cart-item cart-item cart-item amount item-price " " border border border border border " " blank blank blank total total-price ";
  height: 13rem;
  max-width: 50rem;
}
.check-out-main .cart .cart-item {
  grid-area: cart-item;
  padding: 0 0.5rem 0 0.5rem;
}
.check-out-main .cart .cart-item--amount {
  grid-area: amount;
}
.check-out-main .cart .cart-item--price {
  grid-area: item-price;
}
.check-out-main .cart .cart__total--blank {
  grid-area: border;
  width: 100%;
  height: 1px;
}
.check-out-main .cart .cart__total {
  grid-area: total;
}
.check-out-main .cart .cart__total-price {
  grid-area: total-price;
}
.check-out-main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1.5rem 2rem 1.5rem;
  margin: 11.1rem auto 0 auto;
  max-width: 43rem;
  background-color: white;
}
.check-out-main form .form__heading {
  margin: 0 0 2rem 0;
}
.check-out-main form form p:nth-of-type(1) {
  margin: 0 0 1rem 0;
}
.check-out-main form form p:nth-of-type(2) {
  margin: 4rem 0 1rem 0;
}
.check-out-main form form p:nth-of-type(3) {
  margin: 4rem 0 0.5rem 0;
}
.check-out-main form .optional--text {
  font-size: 0.5rem;
  color: gray;
  margin: 0 0 0 0.2rem;
}
.check-out-main form input[type=text],
.check-out-main form input[type=email],
.check-out-main form input[type=password] {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.check-out-main form .inline-inputs {
  display: flex;
  justify-content: space-between;
}
.check-out-main form .inline-inputs div {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.check-out-main form .inline-inputs:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
}
.check-out-main form .inline-inputs:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.check-out-main form .form__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  max-width: 8.4018125rem;
  margin: 1rem 0 2rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.4375rem;
}
.check-out-main form input[type=radio] {
  margin: 0rem 0.5rem 0rem 0;
}
.check-out-main form .check-out-button {
  align-self: center;
  background: linear-gradient(90deg, #273F6C 0%, #D8602C 100%);
  border-radius: 1.375rem;
  border: solid white 0;
  width: 100%;
  max-width: 16.892875rem;
  height: 4rem;
  margin: 4rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}
.check-out-main .cart-grad {
  background: linear-gradient(90deg, #4861B0 0%, #D8602D 100%);
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.9375rem;
}

@media (min-width: 42.8rem) {
  .check-out-header img {
    width: 13rem;
    height: auto;
  }

  .check-out-main {
    margin: 2rem 0 2rem 0;
  }
  .check-out-main form {
    align-items: flex-start;
    border-radius: 2.25rem;
  }
}
.thank-you-course-header {
  text-align: center;
}
.thank-you-course-header img {
  width: 15rem;
  height: auto;
}

.thank-you-course-main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0rem 0 0 0;
}
.thank-you-course-main .welcome-text {
  text-align: center;
  margin: 0rem 0 3rem 0;
}
.thank-you-course-main .banner {
  margin: 0 0 0 0;
}
.thank-you-course-main .banner img {
  width: 100%;
}
.thank-you-course-main .co-founder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem auto 3rem auto;
}
.thank-you-course-main .co-founder-container .co-founder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 22.625rem;
  margin: 0rem auto 0rem auto;
  padding: 0 0.5rem 0 0.5rem;
}
.thank-you-course-main .co-founder-container .co-founder:nth-of-type(1) {
  margin-bottom: 3rem;
}
.thank-you-course-main .co-founder-container .co-founder:nth-of-type(1) {
  margin-bottom: 3rem;
}
.thank-you-course-main .co-founder-container .co-founder__img {
  margin: 0 0 0 0;
}
.thank-you-course-main .co-founder-container .co-founder__img img {
  width: 6rem;
  height: auto;
  border-radius: 0.9rem;
}
.thank-you-course-main .co-founder-container .co-founder__info p {
  margin: auto 0 auto 0.5rem;
  text-align: justify;
}
.thank-you-course-main .list-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0 1.5rem 0;
  background-image: url("../../Images/Rectangle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.thank-you-course-main .list-section .list__head {
  width: 90%;
  max-width: 18.125rem;
  margin: 0 0 1rem 1rem;
  text-align: justify;
}
.thank-you-course-main .list-section .list__container {
  width: 90%;
  margin: 0 0 0 3.5rem;
}
.thank-you-course-main .list-section .list {
  margin: 0;
}
.thank-you-course-main .list-section .list .list__item {
  padding: 0.3rem 0 0.3rem 0;
}
.thank-you-course-main .list-section .list .list__item:nth-of-type(5) {
  padding-bottom: 0;
}
.thank-you-course-main .info-section {
  text-align: center;
  margin: 3rem 0 3rem 0;
}
.thank-you-course-main .info-section .info-section__para {
  max-width: 33.9375rem;
  margin: 0 auto 1rem auto;
}
.thank-you-course-main .info-section .info-section__para:nth-of-type(6) {
  margin-bottom: 0;
}
.thank-you-course-main .audit-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 3rem 0;
}
.thank-you-course-main .audit-section p {
  margin: 0;
}
.thank-you-course-main .audit-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #273F6C;
  border-radius: 2rem;
  width: 100%;
  max-width: 14.625rem;
  height: 3.5rem;
  margin: 1.5rem 0 1.5rem 0;
  font-family: Nunito;
  font-weight: bold;
  font-size: 1.125rem;
}

/* Media Q's */
@media (min-width: 48rem) {
  .thank-you-course-header {
    text-align: left;
  }

  .thank-you-course-main .welcome-text {
    font-size: 1.5rem;
  }
  .thank-you-course-main .co-founder-container {
    flex-direction: row;
    justify-content: center;
    margin: 3rem 0 3rem 0;
  }
  .thank-you-course-main .co-founder-container .co-founder {
    width: 100%;
    margin: 0 0 0 0;
    max-width: 32.5rem;
  }
  .thank-you-course-main .co-founder-container .co-founder:nth-of-type(1) {
    margin: 0 3rem 0 0;
  }
  .thank-you-course-main .co-founder-container .co-founder__img img {
    width: 8rem;
    height: auto;
  }
  .thank-you-course-main .co-founder-container .co-founder__info p {
    font-size: 0.8rem;
    text-align: justify;
    margin: auto 0 auto 0.5rem;
  }
  .thank-you-course-main .list-section .list__head {
    max-width: 35rem;
    font-size: 0.9rem;
  }
  .thank-you-course-main .list-section .list__container {
    margin: 0 0 0 5rem;
  }
  .thank-you-course-main .list-section .list__container .list__item {
    font-size: 0.9rem;
  }
  .thank-you-course-main .info-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .thank-you-course-main .info-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .thank-you-course-main .info-section .info-section__para {
    width: 90%;
    max-width: 35rem;
    font-size: 0.9rem;
    margin: 0 auto 1rem auto;
    text-align: justify;
  }
  .thank-you-course-main .info-section .info-section__para:nth-of-type(6) {
    margin-bottom: 0;
  }
}
.registration-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}
.registration-header img {
  width: 10rem;
  height: auto;
}

.registration-main {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.registration-main .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../Images/reg-head.png");
  background-size: cover;
  height: 10rem;
}
.registration-main .banner .banner__text {
  margin: 0 0 0 3.5rem;
  color: white;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__left .body__left--calendar {
  text-align: center;
  margin: 2rem 0 0rem 0;
}
.body__left .body__left--calendar img {
  width: 1.5rem;
  margin: 0 1rem 0 0;
}
.body__left .body__left--text {
  margin: 2rem auto 0rem auto;
}
.body__left .body__left--text p {
  max-width: 25.9643125rem;
  margin: 0 0.5rem 0 0.5rem;
  text-align: justify;
}
.body__left .co-founder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 31.1875rem;
  margin: 3rem auto 2rem auto;
}
.body__left .co-founder-container .co-founder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0rem auto 0rem auto;
}
.body__left .co-founder-container .co-founder:nth-of-type(1) {
  margin-bottom: 0rem;
}
.body__left .co-founder-container .co-founder__img {
  margin: 0 0 1rem 0;
}
.body__left .co-founder-container .co-founder__img img {
  width: 6rem;
  height: auto;
  border-radius: 0.9rem;
}
.body__left .co-founder-container .co-founder__info p {
  text-align: center;
  margin: 0;
}

.body__right form {
  background: linear-gradient(90deg, #4861B0 0%, #D8602D 100%);
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  /* border-radius: 0.9375rem; */
  padding: 1rem 1rem 1rem 1rem;
}
.body__right form .input {
  background-color: white;
  border-radius: 0.125rem;
  color: white;
}
.body__right form .form-control::-webkit-input-placeholder {
  color: #D8602D;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
}
.body__right form .submit-button {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  color: #D8602D;
  background-color: white;
  width: 7.5rem;
  height: 2rem;
  border: solid #D8602C 1px;
  border-radius: 2.90625rem;
}

@media (min-width: 48rem) {
  .registration-main .banner__text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .registration-main .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 1rem 1rem 0;
  }
  .registration-main .body .body__left {
    width: 60%;
  }
  .registration-main .body .body__left .co-founder-container {
    max-width: 28.24275rem;
  }
  .registration-main .body .body__right {
    width: 40%;
  }
  .registration-main .body .body__right form {
    width: 100%;
    max-width: 20.625rem;
    border-radius: 1.1rem;
  }
}
.webinar-thank-you-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0rem 0;
}

.webinar-thank-you-main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0 0 0;
}
.webinar-thank-you-main .thank-you-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.webinar-thank-you-main .thank-you-text p {
  text-align: center;
  width: 100%;
}
.webinar-thank-you-main .date p {
  text-align: center;
  margin: auto 0 auto 0;
}
.webinar-thank-you-main .co-founder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 51.3125rem;
  margin: 3rem auto 3rem auto;
}
.webinar-thank-you-main .co-founder-container .co-founder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 22.625rem;
  margin: 0rem auto 0rem auto;
}
.webinar-thank-you-main .co-founder-container .co-founder .co-founder__img {
  margin: 0 1rem 0 1rem;
}
.webinar-thank-you-main .co-founder-container .co-founder .co-founder__img img {
  width: 6rem;
  height: auto;
  border-radius: 0.9rem;
}
.webinar-thank-you-main .co-founder-container .co-founder .co-founder__info p {
  margin: 0;
}
.webinar-thank-you-main .co-founder-container .co-founder:nth-of-type(1) {
  margin-bottom: 3rem;
}
.webinar-thank-you-main .invite-friend-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.webinar-thank-you-main .invite-friend-text p {
  margin: 0;
}
.webinar-thank-you-main .share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  width: 100%;
}
.webinar-thank-you-main .share-container .share__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #273F6C;
  border-radius: 2rem;
  width: 100%;
  max-width: 14.625rem;
  height: 3.5rem;
  font-family: Nunito;
  font-weight: bold;
  font-size: 1.125rem;
}
.webinar-thank-you-main .share-container .share__button:nth-of-type(2) {
  margin: 0.6rem 0 0.6rem 0;
}

/* Media Q's */
@media (min-width: 48rem) {
  .webinar-thank-you-main .thank-you-text p {
    font-size: 1.5rem;
  }
  .webinar-thank-you-main .co-founder-container {
    flex-direction: row;
    margin: 6rem auto 6rem auto;
    max-width: 57.9640625rem;
  }
  .webinar-thank-you-main .co-founder-container .co-founder:nth-of-type(1) {
    margin: 0 1rem 0 0;
  }
  .webinar-thank-you-main .invite-friend-text p {
    font-size: 1.125rem;
  }
  .webinar-thank-you-main .share-container {
    justify-content: space-around;
    flex-direction: row;
    max-width: 51.3125rem;
    margin: 6rem auto 2rem auto;
  }
  .webinar-thank-you-main .share-container .share__button:nth-of-type(2) {
    margin: 0;
  }
}
@media (min-width: 64rem) {
  .webinar-thank-you-main .co-founder-container {
    flex-direction: row;
    margin: 6rem auto 6rem auto;
    max-width: 57.9640625rem;
  }
  .webinar-thank-you-main .co-founder-container .co-founder {
    max-width: 100%;
  }
  .webinar-thank-you-main .co-founder-container .co-founder .co-founder__info p {
    font-size: 0.875rem;
  }
  .webinar-thank-you-main .co-founder-container .co-founder .co-founder__img img {
    width: 7.5rem;
    height: auto;
    border-radius: 0.9rem;
  }
}

/*# sourceMappingURL=main.css.map */
