

main {
  flex: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 0.5rem 0 0.5rem;
}


nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 16rem;
  background-image: url("../Images/Header.png");
  background-size: cover;
  background-position: center;
}


nav img {
  position: absolute;
  width: 10rem;
  height: auto;
  top: 5%;
  left: 5%;
}


.nav__hamburger {
  position: absolute;
  top: 20%;
  left: 5%;
}

.nav__hamburger div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}


.nav__para {
  margin: 3rem 0 0 0;
}

.nav__para p:nth-of-type(1) {
  margin: 0 0 1rem 0;
}


.hello-friends {
  margin: 2rem 0 2rem 0;
}


.hello-friends p {

}


.hello-friends p:nth-of-type(3) {
  margin-bottom: 0;
}


.hello-friends__grad-box {
  width: 95%;
  padding: 0.5rem;
  margin: 0 auto 0 auto;
  border-radius: 0.6875rem;
}


.hello-friends__grad-box p {
  line-height: 1.2rem;
}


.castle-info {
  margin: 2rem 0 2rem 0;
}

.castle-info p {
  margin: 0rem 0 1rem 0;
}


.castle-img-list {

}


.castle__img {
  margin: 0 0 1rem 0;
}


.castle__img img {
  width: 15rem;
  height: auto;
}


.castle__list {
}
  




























/* Sales Page Styles */

/* Head Section*/

.head-section {
    background-color: ;
    height: 34.8125rem;
    background-image: url("../Images/Header.png");
    background-size: cover;
    background-position: center;
  }
  
  /* Head Section Nav*/
  
  .buy-now-button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    color: #D8602D;
    font-weight: bold;
  }
  
  /* Hello Friends Section*/
  
  .grad-box {
    background: linear-gradient(90deg, #4861B1 0%, #D8602C 100%);
    border-radius: 0.6875rem;
    width: 90%;
  }
  
  /* Castle Section*/
  
  .background-orange {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  
    padding: 0px 1.25rem 0px 1.25rem;
    background: rgba(216, 96, 44, 0.35);
    box-shadow: inset 0px 1.125rem 0px 0px white;
    border-radius: 0.0625rem;
  }
  
  .background-orange-small {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.340rem;
  
    padding: 0px 1.25rem 0px 1.25rem;
    background: rgba(216, 96, 44, 0.35);
    box-shadow: inset 0px 1.125rem 0px 0px white;
    border-radius: 0.0625rem;
  }
  
  .custom-border-left {
    border-left: solid white 10px;
    border-radius: 0;
  }
  
  /* Proprietary BP Section*/
  
  .light-blue-boxes {
    width: 100%;
    padding-bottom: 0.625rem;
    background: rgba(2, 99, 255, 0.15);
    box-shadow: inset 0px 0.9375rem 0px 0px white;
    border-radius: 1px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
  }
  
  /* Proprietary BDP Section*/
  
  .grad-head {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1.25rem;
    background: -webkit-linear-gradient(left, #1234A8, #D8602D);
    background: -o-linear-gradient(right, #1234A8, #D8602D);
    background: -moz-linear-gradient(right, #1234A8, #D8602D);
    background: linear-gradient(to right, #1234A8, #D8602D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  }
  
  /* Frame 5 Section (Dark Blue Boxes)*/
  
  .dark-blue-box {
    width: 13.0625rem;
    height: 8rem;
    background-color: #273F6C;
    border-radius: 0.9375rem;
  
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.800rem;
    color: white;
  }
  
  .dark-blue-box-col {
    background-color: #273F6C;
    border-radius: 0.9375rem;
  
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.700rem;
    color: white;
  }
  
  
  /* Official Price Section*/
  
  .price-blue {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #273F6C;
  }
  
  .price-orange {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #D8602C;
  }
  
  /* Get Started Section*/
  
  .get-started-btn {
    width: 22.4375rem;
    height: 4.0625rem;
    background-color: #D8602C;
    border: solid #D8602C 1px;
    border-radius: 2.90625rem;
  
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
  }

  