<%- include ('includes/header.ejs') %>

<section class="bg-blue">

    <header class="check-out-header">
        <a href="/">
            <img src="../Images/HSM_Logo_white.png" alt="" loading="lazy" />
        </a>
    </header>


    <main class="check-out-main">

        <!-- Cart -->
        <div>
            <div class="cart cart-grad">

                <div class="cart-item poppins-reg white">
                    <p>Proprietary Branding Development Course</p>
                </div>

                <div class="cart-item--amount poppins-checkOut white">
                    <p>Amount <br /> 1 </p>
                </div>


                <div class="cart__total--blank bg-white"></div>


                <div class="cart-item--price poppins-checkOut white">
                    <p>Price <br />
                        $999.97
                    </p>
                </div>


                <div class="cart__total poppins-checkOut-big white">
                    <p>Total</p>
                </div>

                <div class="cart__total-price white">
                    <p>$999.97</p>
                </div>

            </div>
        </div>


        <!-- Check-out Form -->

        <form>

            <!-- Form Section Heading -->
            <div class="form__heading poppins__reg font-weight-bold">
                Check Out
            </div>

            <p class="poppins__lg font-weight-bold">Contact Information:</p>

            <label class="poppins__xs" for="name">Name</label>
            <input type="text" id="name">


            <label class="poppins__xs" for="email">Email</label>
            <input type="email" id="email">

            <label class="poppins__xs" for="password">Password</label>
            <input type="password" id="password">


            <p class="poppins__lg font-weight-bold">Billing Details:</p>

            <label class="poppins__xs" for="address">Address</label>
            <input type="text" id="address">


            <label class="poppins__xs" for="second-address">Second Address
                <span class="optional--text font-italic">optional</span>
            </label>
            <input type="text" id="second-address">

            <span class="inline-inputs">
                <div>
                    <label class="poppins__xs" for="state">State</label>
                    <input type="text" id="state">
                </div>

                <div>
                    <label class="poppins__xs" for="zip-code">ZIP Code</label>
                    <input type="text" id="zip-code">
                </div>

                <div>
                    <label class="poppins__xs" for="country">Country</label>
                    <input type="text" id="country">
                </div>
            </span>


            <p class="poppins__lg font-weight-bold">Payment Information:</p>

            <div class="form__radio bg-blue white">
                <input type="radio" id="credit-card" name="credit-card" value="true">
                <label class="poppins__xs" for="credit-card">Credit Card</label>
            </div>

            <label class="poppins__xs" for="card-name">Name on The Card</label>
            <input type="text" id="card-name">
            <label class="poppins__xs" for="card-number">Card Number</label>
            <input type="text" id="card-number">
            <span class="inline-inputs">
                <div>
                    <label class="poppins__xs" for="expiration">Expiration Date</label>
                    <input type="text" id="expiration">
                </div>
                <div>
                    <label class="poppins__xs" for="security-code">Security Code</label>
                    <input type="text" id="security-code">
                </div>
            </span>
            <button class="check-out-button">Check Out</button>
        </form>
    </main>
</section>
<form id="payment-form">
    <div id="card-element">
      <!-- Elements will create input elements here -->
    </div>
  
    <!-- We'll put the error messages in this element -->
    <div id="card-errors" role="alert"></div>
  
    <button id="submit">Pay</button>
  </form>
  
<input id="card-name" type="text">
<!-- placeholder for Elements -->
<div id="card-element"></div>
<button id="card-button" data-secret="{{ client_secret }}">
  Submit Payment
</button>
<script src="https://js.stripe.com/v3/"></script>
<script>
    // Set up Stripe.js and Elements to use in checkout form
var elements = stripe.elements();
var style = {
  base: {
    color: "#32325d",
  }
};

var card = elements.create("card", { style: style });
card.mount("#card-element");

</script>
    <%- include ('includes/footer.ejs') %>