<%- include ('includes/header.ejs') %> 
  <header class="index-header">
    <!-- Nav -->
    <nav class="nav-mobile">
      <a href="#">
        <img src="/Images/HSM_Logo_white.png" alt="" loading="lazy" />
      </a>

      <!-- Hamburger Nav Icon -->
      <div class="nav__hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <!-- Nav Text -->
      <div class="nav__para">
        <p class="nunito__small white">
          How to build a brand that lasts for
          <Span class="font-weight-bold">decades</Span>
        </p>
        <p class="poppins__xxs white font-weight-bold">
          We all know there is a lot of uncertainty going around,
        </p>
        <p class="poppins__xxs white font-weight-bold">
          but I've never felt more certain in my entire life
        </p>
      </div>
    </nav>

    <nav class="nav-desktop">
      <div>
        <a href="">
          <img src="/Images/HSM_Logo_white.png" alt="" loading="lazy" />
        </a>
      </div>
      <div class="nav-links nunito__reg white">
        <a href='#offer' style="text-decoration: none; color: white;" >Offer</a>
        <a href="/checkout" ><button class="buy-now-button">Buy Now</button></a>
      </div>

      <!-- Nav Text -->
      <div class="nav__para">
        <p class="nunito__lg white">
          How to build a brand that lasts for
          <Span class="font-weight-bold">decades</Span>
        </p>
        <p class="poppins__small white font-weight-bold">
          We all know there is a lot of uncertainty going around,
        </p>
        <p class="poppins__small white font-weight-bold">
          but I've never felt more certain in my entire life
        </p>
      </div>
    </nav>
  </header>

  <main class="index-main">

    <!-- Hello Friends -->
    <div class="hello-friends">
      <h1 class="nunito__head--small">Hello friends.</h1>

      <p class="nunito__small">
        In the spirit of altruism and helping others to crush their goals, achieve their dreams, and
        reach total fulfillment, I want to share something with you.
      </p>

      <p class="nunito__small">
        My certainty was created by taking action, the action I’m about to tell you about.
      </p>

      <p class="nunito__small">
        It has allowed us to grow from founders to a team of ten, fast, and all united by something greater.
      </p>
    </div>

    <!-- Gradient Box -->
    <div class="hello-friends__grad-box gradient-bg poppins__xs white font-weight-bold">
      Our teamwork and diversity has allowed for rapid,
      <br />
      productive creativity as needed while
      <br />
      accomplishing our projects and goals.
    </div>

    <!-- Castle Info Section -->
    <div class="castle-info">
      <p class="nunito__small ">
        During its implementation <br />

        it has allowed us to build on relationships across all mediums and spheres of influence and

        has resulted in higher levels of

        communication and opportunities

        with exciting and accomplished businesses and entrepreneurs playing at a very high level.
      </p>

      <h1 class="nunito__head--small">
        <span class="background-orange">I met a Politician/CEO </span>
      </h1>

      <p class="nunito__small font-weight-bold">
        And you know what that means.
      </p>

      <p class="nunito__small">
        I know many of you experience certainty at a high level, some more than others.
      </p>

      <h1 class="nunito__head--small">
        Now that I have too, I want to give you this tool that will help increase certainty and add a significant
        amount of clarity to your vision(s).
      </h1>

      <p class="nunito__small">
        Whether you are just
        <span class="font-weight-bold nunito__reg">starting out</span>
        or
        <br class="br-mobile" />
        already have a
        <span class="font-weight-bold nunito__reg">strong brand</span>
        this will help you.
      </p>

      <p class="nunito__small">
        This something is too important to be ignored.
        <br class="br-mobile" />
        I know with all my heart that the
        peers,
        <br class="br-mobile" />
        mentors and leaders that we look up to,
        <br class="br-mobile" />
        if they saw this, would back this
        <br/>
        <span class="font-weight-bold font-italic nunito__reg"> System a thousand times over.</span>
      </p>

      <p class="nunito__small font-weight-bold">
        I know this is the right thing to do because this is built out of doing the right thing.
      </p>

      <h1 class="nunito__head--small">
        Our process of building a brand is not easy, it’s long and difficult but...
      </h1>
    </div>


    <!-- Castle Image Section (Mobile) -->
    <div class="castle-img-list-mobile">
      <div class="castle__img">
        <img src="./Images/fortress.svg" />
      </div>
      <div class="castle__list">
        <p class="nunito__small">
          This process is the great separator,
          <br />
          it is the key to everything,
          <br />
          <br />
          it is that castle and moat that when built correctly
          <br />
          helps you to weather any storm and every winter.
        </p>

        <p class="nunito__small">
          It builds you from the inside out
          <br />
          while building you from the outside in.
        </p>

        <p class="nunito__small">
          It is the one thing that drives every business
          <br />
          that is amazing or will ever be.
        </p>
      </div>
    </div>


    <!-- Castle Image Section (Desktop) -->
    <div class="castle-img-list-desktop">
      <div class="castle__list">
        <p class="nunito__small">
          This process is the great separator,

          it is the key to everything,


          it is that castle and moat that when built correctly

          helps you to weather any storm and every winter.
        </p>

        <p class="nunito__small">
          It builds you from the inside out

          while building you from the outside in.
        </p>

        <p class="nunito__small">
          It is the one thing that drives every business

          that is amazing or will ever be.
        </p>
      </div>
      <div class="castle__img">
        <img src="./Images/fortress.svg" />
      </div>
    </div>



    <!-- Proprietary BP Section (Mobile) -->
    <div class="proprietary-bp-mobile">
      <p class="nunito__small">
        Without the use of this
        <br />
        <span class="nunito__head--small">Proprietary Branding Process</span>
        <br />
        I would not have even come close to

        surviving the current socio-economic environment, not my

        business, not my bank account, not my mental health.

        I would have let my team down long ago.
      </p>
    </div>

    <!-- Proprietary BP Section (Desktop) -->
    <div class="proprietary-bp-desktop">
      <p class="nunito__reg">
        Without the use of this
        <span class="nunito__head--reg">Proprietary Branding Process</span>
        I would not have <br />

        even come close to

        surviving the current socio-economic environment, not my
        <br />

        business, not my bank account, not my mental health.
        <br />
        I would have let my team down long ago.
      </p>
    </div>



    <!-- Light Blue Boxes -->

    <div class="light-blue-box-container">

      <div class="light-blue-box__row">
        <div class="light-blue-box__row--item">
          It’s the system we created by researching
          <br />
          all the others to find the missing pieces.
        </div>
        <div class="light-blue-box__row--item">
          We use it to make sure we deliver more
          <br />
          value every single time we use it.
        </div>
      </div>

      <div class="light-blue-box__row">
        <div class="light-blue-box__row--item">
          It is how our team induces pure,
          <br />
          authentic, raw emotion.
        </div>
        <div class="light-blue-box__row--item">
          It ensures that we leave
          <br />no stone
          unturned.
        </div>
      </div>

    </div>


    <!-- pb-development-process section -->

    <div class="pb-dev-process nunito__small">
      <p> It is our,</p>

      <h1 class="nunito__head--xs gradient-text">
        Proprietary Brand Development process
      </h1>

      <p>
        This is the information that has built our mindset and culture out of a stable logical set of ideas.
      </p>

      <p>
        It has allowed us to expand using less resources than most have expended or lost during contraction.
      </p>

      <p>
        It wasn’t their fault,
        <br />
        they didn’t have a framework designed to keep a set of
        <br />
        systems on track while allowing for adaptation.
      </p>

      <p>
        We’ve only shared this with our private paying clients and out of all the positive skill sets
        <br />
        we have that clients pay for this has the greatest effect,
        <br />
        so I feel compelled to give it to you.
      </p>

      <!-- Map Section -->
      <div class="pb-dev-process__map bg-blue">

        <p class="text-white nunito__reg">
          Our clients normally
          <span class="nunito__lg">
            pay over $3000
          </span>
          just to have three branding calls with us.
        </p>

        <div class="map-sec">
          <div class="map-sec__img">
            <img src="./Images/map.svg" alt="" loading="lazy" />
          </div>

          <div class="map-sec__list nunito__small white">
            <p>
              That may seem like a lot
              <br />
              but they know what they are paying for.
            </p>
            <p>
              They know that they are investing in
              <br /> a new foundation.
            </p>
            <p>
              They are building the key that’s going to unlock the next half century for their business.
            </p>
          </div>
        </div>

        <p id="offer" class="nunito__small white">
          Today we would like to offer you
          <br class="br-mobile"/>
          the <span class="font-italic">blueprint</span> for that key.
        </p>
        <p class="nunito__small white">
          Now we can’t make the key for you.
        </p>
        <h1 class="nunito__head--small font-italic white">
          But we can certainly
          <br class="br-mobile"/>
          show you how to make it.
        </h1>
      </div>

    </div>


    <div class="frame-5">
      <p class="nunito__small">
        What if you had a proven step by step process to go from

        hating your brand and everything it stands for…
      </p>

      <h1 class="background-orange-small">
        To loving your brand and unwittingly have it

        be the first thing you talk about when you
        <br class="br-mobile"/>
        meet somebody.
      </h1>

      <p class="nunito__small">
        That’s the
        <span class="nunito__reg font-weight-bold"> type of power </span>
        we’re talking about.
      </p>

      <p class="nunito__small">
        So obviously this is a lot of information

        and I don’t expect you to be able to digest it all in 3 sittings.
      </p>

      <p class="nunito__small">
        What we did is take the three, three hour branding calls that we usually make our clients sit through and
        <br class="br-mobile" />
        we’ve broken that down into
        six <br />30 minute to 1 hour sessions.
      </p>

      <h1 class="nunito__head--small">The course will be delivered online
        <br class="br-mobile"/>
        in video form over the course of 6 weeks.
      </h1>

      <p class="nunito__small">
        The first two videos will be pre-recorded and the
        <br class="br-mobile"/>
        last four may or may not be recorded live.
      </p>

      <h1 class="poppins__small mb-0">
        So what do you get today
        <br />
        when you buy?
      </h1>



      <!-- Frame-5 Boxes Mobile -->
      <div class="frame-5__boxes-mobile">

        <div class="frame-5__boxes--row">
          <div class="bg-blue white">
            Immediate access to the
            <br />
            first two videos.
            <br />
            (Starting Monday 8/10)
            <br />
            $999 value
          </div>
        </div>


        <div class="frame-5__boxes--row">
          <div class="bg-blue white">
            HammerSport
            <br />
            Proprietary Brand
            <br />
            Pyramid (PDF)
            <br />
            $99 value
          </div>
          <div class="bg-blue white">
            HammerSport Customer
            <br />
            Avatar (PDF)
            <br />
            $99 Value
          </div>
        </div>


        <div class="frame-5__boxes--row">
          <div class="bg-blue white">
            Brand Book Template
            <br />
            (PDF)
            <br />
            $999 value
          </div>
          <div class="bg-blue white">
            Brand Design Guide
            <br />
            (PDF)
            <br />
            $199 value
          </div>
        </div>
      </div>


      <!-- Frame-5 Boxes (Desktop) -->
      <div class="frame-5__boxes-desktop">

        <div class="frame-5__boxes--row">
          <div class="bg-blue white">
            Immediate access to the
            <br />
            first two videos.
            <br />
            (Starting Monday 8/10)
            <br />
            $999 value
          </div>

          <div class="bg-blue white">
            HammerSport
            <br />
            Proprietary Brand
            <br />
            Pyramid (PDF)
            <br />
            $99 value
          </div>
          <div class="bg-blue white">
            HammerSport Customer
            <br />
            Avatar (PDF)
            <br />
            $99 Value
          </div>
        </div>


        <div class="frame-5__boxes--row">
          <div class="bg-blue white">
            Brand Book Template
            <br />
            (PDF)
            <br />
            $999 value
          </div>
          <div class="bg-blue white">
            Brand Design Guide
            <br />
            (PDF)
            <br />
            $199 value
          </div>
        </div>
      </div>
    </div>


    <!-- Official Price Section -->
    <div class="official-price">
      <h1 class="nunito__head--small">All you have to do is click that button.</h1>
      <p class="nunito__small font-weight-bold font-italic">
        But wait,
        <br />
        We haven’t told you how much it is yet!
      </p>
      <h1>
        <span class="price-blue"> Official Price: </span>
        <span class="price-orange"> $1999.97 </span>
      </h1>
      <p class="nunito__small font-weight-bold font-italic">
        That’s right. We’re giving all this to you <br /> today for less
        than 2000 bucks
      </p>
    </div>


    <div class="get-started bg-blue white">
      <p class="nunito__small">
        All you have to do is
        <span class="nunito__reg font-italic"> click the button below </span>.
      </p>
      <p class="nunito__small">
        Still not convinced?
      </p>
      <p class="nunito__small">
        <span class="nunito__small font-weight-bold">Buy right now</span>
        in the next 5 minutes and I’ll throw in a
        <span class="nunito__reg">free marketing audit</span>
        <br />
        with my whole team.
      </p>
      <a href='/checkout' ><button class="get-started-btn"  > Get Started </button></a>
    </div>
  </main>
  <%- include ('includes/footer.ejs') %> 