

.nunito__head--xs {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.nunito__head--small {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1.340rem;
}

.nunito__head--reg {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.nunito__xxs {
  font-family: 'Nunito', sans-serif;
  font-size: 0.625rem;
}

.nunito__xs {
  font-family: 'Nunito', sans-serif;
  font-size: 0.875rem;
}

.nunito__small {
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
}

.nunito__reg {
  font-family: 'Nunito', sans-serif;
  font-size: 1.125rem;
}

.nunito__lg {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.poppins__xxs {
  font-family: 'Poppins', sans-serif;
  font-size: 0.6875rem;
}


.poppins__xs {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}

.poppins__small {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

.poppins__reg {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
}

.poppins__lg {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.poppins__xl {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
}

.poppins__xxl {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}