header {
  padding: 1rem 0rem 1rem 1rem;
}

header img {
  width: 10rem;
  height: auto;
}

main {
  flex: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  position: relative;
  padding: 0rem 0 0rem 0;
}


main div {
  display: flex;
  justify-content: center;
}


.cart {
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1px auto;
  grid-template-areas:
    " cart-item cart-item cart-item amount item-price "
    " border border border border border "
    " blank blank blank total total-price ";
  height: 13rem;
  max-width: 50rem;
}


.cart-item {
  grid-area: cart-item;
  padding: 0 0.5rem 0 0.5rem;
}


.cart-item--amount {
  grid-area: amount;
}


.cart-item--price {
  grid-area: item-price;
}


.cart__total--blank {
  grid-area: border;
  width: 100%;
  height: 1px;

}


.cart__total {
  grid-area: total;
}


.cart__total-price {
  grid-area: total-price;
}



form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1.5rem 2rem 1.5rem;
  margin: 11.1rem auto 0 auto;
  max-width: 43rem;
  background-color: white;
}


.form__heading {
  margin: 0 0 2rem 0;
}


form p:nth-of-type(1) {
  margin: 0 0 1rem 0;
}

form p:nth-of-type(2) {
  margin: 4rem 0 1rem 0;
}

form p:nth-of-type(3) {
  margin: 4rem 0 0.5rem 0;
}


.optional--text {
  font-size: 0.5rem;
  color: gray;
  margin: 0 0 0 0.2rem;
}


input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.inline-inputs {
  display: flex;
  justify-content: space-between;
}

.inline-inputs:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
}

.inline-inputs div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.inline-inputs:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
  width: 48%;
}


.form__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  max-width: 8.4018125rem;
  margin: 1rem 0 2rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.4375rem;
}


input[type=radio] {
  margin: 0rem 0.5rem 0rem 0;
}

.check-out-button {
  align-self: center;
  background: linear-gradient(90deg, #273F6C 0%, #D8602C 100%);
  border-radius: 1.375rem;
  border: solid white 0;
  width: 100%;
  max-width: 16.892875rem;
  height: 4rem;
  margin: 4rem 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.cart-grad {
  background: linear-gradient(90deg, #4861B0 0%, #D8602D 100%);
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.9375rem;
}


@media (min-width: 42.800rem) {

  main {
    margin: 2rem 0 2rem 0;
  }

  form {
    align-items: flex-start;
    border-radius: 2.25rem;
  }
}